.title {
  text-align: left;
  padding-left: 20px;
  font-family: Snell Roundhand;
  color: #1a3266;
}
.custom-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}
ion-toolbar {
  --border-width: 0;
  --border-color: transparent;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
  margin-top: 20px;
}
.hero-image1 {
  width: 128px;
  height: auto;
  margin-left: 15px;
  transform: scale(1.3);
}
.hero-text {
  flex: 1;
  margin-right: 20px;
}
.hero-text h1 {
  font-size: 32px;
  margin: 0 0 10px 0;
  color: #1a3266;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cards-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
}
.simple-card {
  background: white;
  border-radius: 20px;
  padding: 7px 9px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
ion-accordion {
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
ion-item {
  --background: white;
}
.accordion-content {
  background: transparent;
  padding: 10px 20px 20px 20px;
}
.accordion-content ul {
  margin: 0;
  padding-left: 18px;
}
.simple-card p {
  font-size: 14px;
  color: #1a3266;
}
ion-accordion-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ion-accordion ion-label {
  color: #1a3266 !important;
  font-weight: 600;
}
li {
  font-weight: 300;
}
ion-accordion ion-item {
  --background: transparent;
}
@media (min-width: 900px) {
  .simple-card {
    width: 700px;
    padding: 0;
    margin-left: 400px;
    margin-right: 0;
    height: 80px;
    align-self: flex-start;
    margin-bottom: 8px;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -20px;
  }
  .simple-card p {
    font-size: 20px;
    font-weight: 400;
  }
  ion-accordion-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  ion-accordion {
    width: 100%;
    max-width: 2000px !important;
  }
  ion-accordion ion-item,
  .accordion-content {
    width: 100%;
    box-sizing: border-box;
  }
  ion-accordion ion-item {
    --padding-top: 18px;
    --padding-bottom: 18px;
  }
  .accordion-content {
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .desktop-main {
    max-width: 1400px;
  }
  .content-col {
    width: 1460px;
  }
  ion-accordion ion-item ion-label {
    font-size: 23px !important;
    font-weight: 600;
  }
  .hero-section {
    gap: 50px;
  }
  .hero-image1 {
    transform: scale(2);
  }
}
