.splash-screen {
  position: fixed;
  inset: 0;
  background-image: url("/assets/icons/719cdfbf78cb41cf9e6a4646c03d5203ceedb5fa copy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
  flex-direction: column;
}
.splash-screen.hide {
  opacity: 0;
}

@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textAppear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.splash-logo {
  width: 221px;
  height: 236px;
  animation: logoAppear 1.2s ease forwards;
  margin-bottom: -30px;
}

.splash-text {
  font-size: 36px;
  font-weight: 900;
  color: #1a3266;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: -35px;
}
.splash-descr {
  font-size: 32px;
  font-weight: 500;
  color: #1a3266;
  font-family: Snell Roundhand;
}
.spltxt {
  animation: logoAppear 1.2s ease forwards;
  display: flex;
  align-items: center;
  flex-direction: column;
}
